<nav class="navigation-header">
    
    <ul class="navigation-header__list">
        <li>(Angular 2 component)</li>
        <li class="navigation-header__item"><span (click)="blueBall()">Blue ball</span></li>
        <li class="navigation-header__item"><span (click)="redSquare()">Red square</span></li>
    </ul>
</nav>
<ng2-modal></ng2-modal>
<!--<div class="angular2-modal angular2-modal&#45;&#45;screen">-->
    <!--<div class="angular2-modal&#45;&#45;body">-->
        <!--<h2>Modal title</h2>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, amet cumque cupiditate deserunt error facere illo, impedit ipsam labore libero maxime minima odio officia quasi sapiente vitae voluptatem. Atque.</p>-->
    <!--</div>-->
<!--</div>-->
<div>{{getCurrectPage()}}</div>
<router-outlet></router-outlet>