body {
    margin:0;
    padding:0;
    padding-top: 70px;
}
.navigation-header {
    width:100%;
    height: 70px;
    border: 1px solid #000000;
    position: fixed;
    top:0;
    left: 0;
}
.navigation-header__list {
    list-style: none;
}
.navigation-header__item {
    float: left;
    padding: 10px;
    cursor: pointer;
}
.navigation-header__item:hover {
    color: #4b97ff;
}